    <footer class="footer fixed-bottom py-3 footer_bg">
      <div class="container text-center">
        <!-- Footer content here -->
        <span>Created with love ❤️</span>
      </div>
    </footer>