<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlinks}}
</head>
<body>

  {{>navbar}}
    <div class="container d-flex justify-content-center align-items-center mt-2 content">
        <div class="row">
            <div class="col-11 mx-auto">
                    <img src="https://img.freepik.com/free-vector/404-error-design-with-angry-cloud_23-2147733485.jpg?size=626&ext=jpg&ga=GA1.1.606382326.1695377068&semt=ais" alt="" class="error_image">
                    <p>Welcome to weather app</p>
                    <h1>OOP's Page Not Found</span> </h1>
                    <a href="/" ><button class="but">Go Back</button></a>
            </div>
        </div>
    </div>
{{>footer}}
</body>
</html>