<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlinks}}
</head>
<body>

  {{>navbar}}
    <div class="container content">
        <div class="row">
            <div class="col-11 mx-auto">
                <p>Welcome to weather app</p>
                <h1>I am  <span class="text_clr"> Shahina. </span> </h1>
                <a href="https://shahin-blush.vercel.app" ><button class="but">About Me</button></a>
            </div>
        </div>
    </div>
{{>footer}}
</body>
</html>