<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlinks}}
</head>
<body>
  {{>navbar}}

    <!--body-->
    <div class="container-fluid ">
      <div class="row">
        <div class="col-11 col-md-10 mx-auto body_content">
          <!--left side-->
          <div class="row">
            <div class="col-10 mx-auto left_content">
              <p>Welcome to weather app</p>
              <h1>Get The Latest <span class="text_clr"> weather </span> Info Of Your City</h1>
              <a href="/weather" ><button class="but">check now</button></a>
            </div>
          </div>
          <!--right side-->
          <div class="row">
            <div class="col-10 mx-auto">
              <img src="images/s.gif" class="body_img">
            </div>
          </div>
        </div>
      </div>
    </div>
{{>footer}}


</body>
</html>